{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('music.upload') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form action="{{ url_for('music.search') }}" method="GET" class="search-song">
                Search songs via :
                <label class="radio-inline"><input name="search_type" type="radio" value="title" checked> Title</label>
                <label class="radio-inline"></label><input name="search_type" type="radio" value="artist"> Artist</label>
                <label class="radio-inline"><input name="search_type" type="radio" value="album"> Album</label>
                <br />
                <div class="input-group mb-3">
                    <input type="text" name="keyword" class="form-control">
                    <div class="input-group-append"><input type="submit" class="btn btn-outline-secondary" name="search" value="Search"></div>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Album</th>
                  </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                  <tr>
                    <th scope="row">{{ song['id'] }}</th>
                    <td>{{ song['title'] }}</td>
                    <td>{{ song['artist'] }}</td>
                    <td>{{ song['album'] }}</td>
                  </tr>
                  {% if not loop.last %}
                    <hr>
                  {% endif %}
                {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{% endblock %}