{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('music.upload') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for song in songs %}
  <audio controls="controls" autoplay="autoplay" src="{{ url_for('static', filename='music/file_example_MP3_700KB.mp3') }}"></audio>
    <article class="songs">
      <header>
        <div>
          <h1>{{ song['id'] }}</h1>
        </div>
      </header>
      <p class="body">{{ song }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
    <form action="{{ url_for('music.delete') }}" method=post class=delete-song>
        <input type=hidden value="{{ song.id }}" name="id" />
        <input type=submit value="delete" />
      </form>
  {% endfor %}
{% endblock %}