<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Music Management System</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
/>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/jquery.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/bootstrap.min.js') }}"
></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if g.user %}
    <a class="navbar-brand" href="{{ url_for('music.index') }}">Music Management System</a>
    {% else %}
    <a class="navbar-brand" href="{{ url_for('auth.login') }}">Music Management System</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {% if g.user %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('music.playlist') }}">{{ g.user['username'] }}</a> </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a> </li>{% else %}
    
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
      </ul>
    </div>
  </nav>
</nav>


<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flashalert alert-danger" role="alert">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}
</section>
